<footer class="page-footer Amber Darken 1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Menu of the day</h5>
     <p class="grey-text text-lighten-4">shoulder of veal with chips and salad</p>
<p class="grey-text text-lighten-4">croquettes</p>
<p class="grey-text text-lighten-4">chocolate mouse</p>

      </div>

    </div>
  </div>



  <div class="footer-copyright">
    <div class="container">
    <img src="copy.png" alt="copyright" width="10" height="10"> Copyright Team Dodgers {{year}}
    </div>
  </div>
</footer>
